@page "/categories"

<PageTitle>Categories — Pin.Products</PageTitle>

<h1>Categories</h1>

@if (errorMessages is not null && errorMessages.Any())
{
    <AlertComponent Style="AlertStyle.Danger" Messages="errorMessages" />
}

@if (successMessages is not null && successMessages.Any())
{
    <AlertComponent Style="AlertStyle.Info" Messages="successMessages" />
}

@if (categoryModels is null)
{
    <LoadingComponent />
}
else
{
    @if (newCategory is not null)
    {
        <CategoryFormComponent NewCategory="newCategory" OnSave="Save" OnCancel="Cancel" />
    }
    else
    {
        <CategoryListComponent Categories="categoryModels" OnAdd="NewCategory" OnDelete="Delete" OnEdit="Edit" />
    }
}
