@page "/products"

<PageTitle>Products — Pin.Products</PageTitle>

<h1>Products</h1>

@if (errorMessages is not null && errorMessages.Any())
{
    <AlertComponent Style="AlertStyle.Danger" Messages="errorMessages" />
}

@if (successMessages is not null && successMessages.Any())
{
    <AlertComponent Style="AlertStyle.Info" Messages="successMessages" />
}

@if (productModels is null)
{
    <LoadingComponent />
}
else
{
    @if (newProduct is not null)
    {
        <ProductFormComponent NewProduct="newProduct" Categories="categories" OnSave="Save" OnCancel="Cancel" />
    }
    else
    {
        <ProductListComponent Products="productModels" OnAdd="NewProduct" OnDelete="Delete" OnEdit="Edit" />
    }
}
