
<div class="alert alert-@ComponentStyle" role="alert">
    @Message
</div>
@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string ComponentStyle { get; set; }
}