@if (Messages is not null && Messages.Any())
{
    <div class="alert alert-@CssClass" role="@AriaRole" aria-live="@AriaLive" aria-atomic="true">
        @if (Messages.Count() == 1)
        {
            @Messages.First()
        }
        else
        {
            <ul class="mb-0">
                @foreach (string errorMessage in Messages)
                {
                    <li>@errorMessage</li>
                }
            </ul>
        }
    </div>
}
@code {
    [Parameter]
    public required IEnumerable<string> Messages { get; set; }

    [Parameter]
    public AlertStyle Style { get; set; } = AlertStyle.Info;

    private string CssClass => Style switch
    {
        AlertStyle.Danger => "danger",
        AlertStyle.Info => "info",
        _ => "info"
    };

    private string AriaRole => Style == AlertStyle.Danger ? "alert" : "status";

    private string AriaLive => Style == AlertStyle.Danger ? "assertive" : "polite";
}
