
<div class="row">
    <div class="col col-lg-2">
        <button type="button" class="btn btn-outline-info" @onclick="@(() => OnAdd.InvokeAsync())">New</button>
    </div>
</div>
<div class="row">
    @foreach (var category in Categories)
    {
        <CategoryComponent Category="category" OnDelete="OnDelete" OnEdit="OnEdit"></CategoryComponent>
    }
</div>
@code {
    [Parameter]
    public IEnumerable<CategoryModel> Categories { get; set; }
    [Parameter]
    public EventCallback OnAdd { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set; }
    [Parameter]
    public EventCallback<CategoryModel> OnEdit { get; set; }
}
