<div class="col col-md-6 col-lg-4 mx-auto">
    <h2>@(NewCategory.Id == 0 ? "New Category" : "Edit Category")</h2>
    <EditForm Model="NewCategory" OnValidSubmit="@(() => OnSave.InvokeAsync(NewCategory))">
        <DataAnnotationsValidator />
        <div role="alert" aria-live="assertive">
            <ValidationSummary />
        </div>
        <div class="mb-3">
            <label for="category-name">Name:</label>
            <InputText id="category-name"
                       @bind-Value="NewCategory.Name"
                       class="form-control"
                       autocomplete="off"
                       aria-describedby="category-name-validation" />
            <ValidationMessage id="category-name-validation" For="@(() => NewCategory.Name)" />
        </div>
        <button type="submit" class="btn btn-outline-info">Save</button>
        <button type="button" class="btn btn-outline-warning" @onclick="@(() => OnCancel.InvokeAsync())">Cancel</button>
    </EditForm>
</div>
@code {
    [Parameter]
    public required CreateOrUpdateCategoryModel NewCategory { get; set; }
    [Parameter]
    public EventCallback<CreateOrUpdateCategoryModel> OnSave { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }
}
