
<div class="col col-lg-4 mx-auto">
    <EditForm Model="NewCategory" OnValidSubmit="@(()=> OnSave.InvokeAsync(NewCategory))">
        @* activate data validation *@
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label>Name:</label>
            <InputText @bind-Value="NewCategory.Name" class="form-control" />
            <ValidationMessage For="@(()=> NewCategory.Name)"/>
        </div>
        <button type="submit" class="btn btn-outline-info">Save</button>
        <button type="button" class="btn btn-outline-warning" @onclick="@(() => OnCancel.InvokeAsync())">Cancel</button>
    </EditForm> 
</div>
@code {
    [Parameter]
    public CreateOrUpdateCategoryModel NewCategory { get; set; }
    [Parameter]
    public EventCallback<CreateOrUpdateCategoryModel> OnSave { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }
}
