<div class="col col-sm-6 col-md-4 col-lg-2 mx-auto" aria-busy="true">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
